annotated-types==0.7.0
blinker==1.9.0
click==8.3.0
Flask==3.1.2
Flask-Cors==4.0.0
Flask-JWT-Extended==4.7.1
flask-openapi3==4.3.0
flask-openapi3-elements==9.0.9
flask-openapi3-rapidoc==9.3.8
flask-openapi3-rapipdf==2.2.1
flask-openapi3-redoc==2.5.2
flask-openapi3-scalar==1.38.1
flask-openapi3-swagger==5.30.0
Flask-SQLAlchemy==3.1.1
greenlet==3.2.4
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
pydantic==2.12.3
pydantic_core==2.41.4
PyJWT==2.10.1
SQLAlchemy==2.0.44
typing-inspection==0.4.2
typing_extensions==4.15.0
Werkzeug==3.1.3
